<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DarkChrome Theme</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.nwhit.darkchromeprefs</string>
			<key>key</key>
			<string>colorScheme</string>
			<key>label</key>
			<string>Color scheme</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>default</key>
            <string>dark</string>
            <key>validValues</key>
            <array>
                <string>dark</string>
                <string>flatDark</string>
                <string>trueBlack</string>
            </array>
            <key>validTitles</key>
            <array>
                <string>Dark</string>
                <string>Flat Dark</string>
                <string>True Black</string>
            </array>
            <key>shortTitles</key>
            <array>
                <string>Dark</string>
                <string>Flat Dark</string>
                <string>True Black</string>
            </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>footerText</key>
            <string>Add a small indicator around the Omnibox search button when in incognito</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.nwhit.darkchromeprefs</string>
			<key>key</key>
			<string>useIncognitoIndicator</string>
			<key>label</key>
			<string>Incognito Indicator</string>
            <key>default</key>
            <true/>
		</dict>
	</array>
	<key>title</key>
	<string>DarkChrome</string>
</dict>
</plist>
