Package: com.nwhit.darkchromeb
Name: DarkChromeBeta
Conflicts: com.nwhit.darkchrome
Depends: mobilesubstrate
Version: 1.1.1.2-beta
Architecture: iphoneos-arm
Description: BETA VERSION : A complete dark mode for Chrome
Maintainer: Nathan Whitaker
Author: Nathan Whitaker
Section: Tweaks
Depiction: https://nathanwhit.github.io/repo/depictions/?p=com.nwhit.darkchrome