Package: com.nwhit.darkchrome
Name: DarkChrome
Pre-Depends: firmware (>= 11.0)
Depends: mobilesubstrate
Conflicts: com.nwhit.darkchromeb
Version: 1.1.1.6
Architecture: iphoneos-arm
Description: A complete dark mode for Chrome
Maintainer: Nathan Whitaker
Author: Nathan Whitaker
Section: Tweaks