Package: com.nwhit.darkchrome
Name: DarkChrome
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A complete dark mode for Chrome
Maintainer: Nathan Whitaker
Author: Nathan Whitaker
Section: Tweaks
